# Suomen 1. ja 2. lintuatlaksen tulokset

Tuodaan sisään tilastojen käsittelyä helpottavat moduulit.

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt

Lajit taulukko sisältää lajien nimet erikielillä, sekä lyhenteen jota käytetään muissa taulukoissa.

In [21]:
lajit_header=["lyhenne","latina","suomi","ruotsi","englanti","julkisuus"]
lajit=pd.read_csv('./data/lajit.csv', encoding='iso8859_10',names=lajit_header)
lajit.head()

,lyhenne,latina,suomi,ruotsi,englanti,julkisuus
0,CYGOLO,Cygnus olor,Kyhmyjoutsen,Knölsvan,Mute Swan,1
1,CYGCYG,Cygnus cygnus,Laulujoutsen,Sångsvan,Whooper Swan,1
2,ANSFAB,Anser fabalis,Metsähanhi,Sädgås,Bean Goose,1
3,ANSERY,Anser erythropus,Kiljuhanhi,Fjällgås,Lesser White-fronted Goose,0
4,ANSANS,Anser anser,Merihanhi,Grågås,Greylag Goose,1

Ruudut taulukossa on ruutujen koordinaatit pohjois (P) ja itä (E) suunnissa, sekä ruudun selvitys asteet asteikolla 0-5 (0 -> "ei havaintoja", 5 -> "erinomaiset havainnot"). 1. Atlas v1974-79 ja 2. atlas v1986-89.

In [23]:
ruudut_header=["N-koord","E-koord","aste-1.atlas","aste-2.atlas","yhdistetty"]
ruudut=pd.read_csv('./data/ruudut.csv',header=None, names=ruudut_header)
ruudut.head()

   N-koord  E-koord  aste-1.atlas  aste-2.atlas  yhdistetty
0      663      318             2             3           3
1      663      319             2             2           3
2      663      320             1             2           2
3      663      321             4             4           4
4      663      322             4             4           5

In [20]:
havainnot_header=["lyhenne","N-koord","E-koord","pesiminen-1","pesiminen-2","pesiminen-1_2"]
havainnot=pd.read_csv('./data/havainnot.csv',header=None, names=havainnot_header)
havainnot.head()

  lyhenne  N-koord  E-koord  pesiminen-1  pesiminen-2  pesiminen-1_2
0  CYGOLO      663      319            0            4              4
1  CYGOLO      663      320            0            1              1
2  CYGOLO      663      322            4            4              4
3  CYGOLO      663      323            2            3              3
4  CYGOLO      663      324            4            4              4